body {
    background-color: #fdf6ec;
    margin: 0;
    font-family: "Kanit", sans-serif;
  }
  button{
    font-family: "Kanit", sans-serif;
  }
 
  a {
    text-decoration: none;
    color:#000000;
  }
  a:hover{
    color:#a13333;
  }
  
  .navbar {
    background-color: #fdf6ec;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #362222;
    border-bottom: black 3px solid;
  }
  .navbar ul {
    margin: 0;
  }
  
  .navlinks {
    display: inline;
    font-size: 20px;
    padding-left: 50px;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 7fr 5fr;
  }
  .logo {
    width: 100%;
    margin-left: 50px;
  }
  
  .middleNav {
    margin-top: 20px;
    align-items: center;
    margin-left: 80px;
  }
   
  .btn-Nav {
    background-color: #ffb72b;
    margin-top: 10px;
    margin-left: 30px;
    padding: 12px;
    /* border-radius: 20px; */
    border: none;
    font-size: 20px;
    font-family: "Kanit", sans-serif;
  }
  
  .btn-Nav:hover {
    background-color: #a13333;
    color: #ffffff;
  }

  .chartheader{
      font-size: 50px;
      text-align: center;
      font-family: "Kanit", sans-serif;
  }
  .anchors{
    margin: 40px auto;
    text-align: center;

  }
  .anchors a{
    display: inline;
  }


  .anchors a button{
    padding:12px;
    color: rgb(0, 0, 0);
    background-color: #ffb72b;
    margin: 10px;
  }

  /* CARDS */
  .cards{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      margin:auto;
      width: 90%;
  }
  .card{
      border:solid rgb(255, 255, 255) 3px;
      border-top: 0px;
      text-align: center;
      padding: 45px;
      background-color: #362222;
      color: #fff;
      margin-bottom: 5px;
      margin-left: 2.5px;
  }
  .songName{
      font-weight: 700;
      font-size: 20px;
      
  }

  .card img{
      max-width: 100%;
      min-width: 100%;
      display: block;
      border:#ffb72b solid 2px;
    
  }

  .card:hover{
    transform: scale(1.05,1.05);
    transition: ease-out .3s ;
  }
  .disco{
    width:70%;
    margin:auto;
    text-align: center;
    margin-bottom: 140px;
  }

  .disco h1{
    font-size: 50px ;
    text-align: center;
    margin-top: 90px;
    font-family: "Kanit", sans-serif;
  }

  .disco p{
    text-align: left;
    font-size: 18px;
    margin-top: 40px;
  }
  .disco img{
    max-width: 100%;
      min-width: 100%;
      display: block;
  }
  .disco ul{
    text-align: left;
  }

  /* FOOTER */
  /* Footer links */
  
section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}
